<section class="main-slider style1">
  <div class="slider-box">
    <div class="banner-carousel owl-theme owl-carousel">
      <!-- Slayd 1 -->
      <div class="slide">
        <div
          class="image-layer"
          style="background-image: url(assets/images/slides/slide-v1-1.jpg)"
        ></div>
        <div
          class="slider-bg-box"
          style="background-image: url(assets/images/slides/slide-v1-1-bg1.jpg)"
        ></div>

        <div class="auto-container">
          <div class="content">
            <div class="big-title">
              <h2 [innerHTML]="'big-title-1' | translate"></h2>

            </div>
            <div class="text">
              <p [innerHTML]="'text-1' | translate"></p>

            </div>
            <div class="btns-box">
              <a class="btn-one" href="about.html">
                <div class="round"></div>
                <span class="txt">{{"about.more"|translate}}</span>
              </a>

            </div>
          </div>
        </div>
      </div>

      <!-- Slayd 2 -->
      <div class="slide">
        <div
          class="image-layer"
          style="background-image: url(assets/images/slides/slide-v1-1.jpg)"
        ></div>
        <div
          class="slider-bg-box"
          style="background-image: url(assets/images/slides/slide-v1-1-bg2.jpg)"
        ></div>

        <div class="auto-container">
          <div class="content">
            <div class="big-title">
              <h2 [innerHTML]="'big-title-2' | translate"></h2>

            </div>
            <div class="text">
              <p [innerHTML]="'text-2' | translate"></p>

            </div>
            <div class="btns-box">
              <a class="btn-one" href="about.html">
                <div class="round"></div>
                <span class="txt">{{"about.more"|translate}}</span>
              </a>

            </div>
          </div>
        </div>
      </div>

      <!-- Slayd 3 (takroriy) -->
      <div class="slide">
        <div
          class="image-layer"
          style="background-image: url(assets/images/slides/slide-v1-1.jpg)"
        ></div>
        <div
          class="slider-bg-box"
          style="background-image: url(assets/images/slides/slide-v1-1-bg3.jpg)"
        ></div>

        <div class="auto-container">
          <div class="content">
            <div class="big-title">
              <h2 [innerHTML]="'big-title-3' | translate"></h2>
            </div>
            <div class="text">
              <p [innerHTML]="'text-3' | translate"></p>

            </div>
            <div class="btns-box">
              <a class="btn-one" href="about.html">
                <div class="round"></div>
                <span class="txt">{{"about.more"|translate}}</span>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>























<!--Start Service Style1 Area-->
<section class="service-style1-area">
  <div
    class="service-style1_pattern-bg"
    style="background-image: url(assets/images/pattern/service-style1-area-pt.jpg);"
  ></div>
  <div class="container">
    <div class="sec-title text-center">
      <div class="sub-title">
        <h5>Xizmatlarimiz</h5>
      </div>
      <h2>Barqaror qurilish uchun innovatsion yechimlar</h2>
      <div class="decor">
        <img src="assets/images/shape/decor.png" alt="" />
      </div>
    </div>

    <div class="row">
      <!-- 1-xizmat -->
      <div class="col-xl-4 col-lg-4">
        <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="single-service-style1__bg" style="background-image: url(assets/images/shape/single-service-box-bg.png);"></div>
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/services/service-v1-1.jpg" alt="Ekologik qurilish materiallari" />
            </div>

          </div>
          <div class="title-holder">
            <h3><a routerLink="service-detail">Ekologik toza qurilish materiallari</a></h3>
            <div class="inner-text">
              <p>Qurilishda ishlatiladigan barcha materiallar ekologik xavfsiz, bardoshli va zamon talablariga mos bo‘lgan sifatli mahsulotlardir.</p>
            </div>
            <div class="readmore-button">
              <a routerLink="service-detail"><span class="icon-right-arrow"></span>Batafsil</a>
            </div>
          </div>
        </div>
      </div>

      <!-- 2-xizmat -->
      <div class="col-xl-4 col-lg-4">
        <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
          <div class="single-service-style1__bg" style="background-image: url(assets/images/shape/single-service-box-bg.png);"></div>
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/services/service-v1-2.jpg" alt="Energiya tejamkor tizimlar" />
            </div>

          </div>
          <div class="title-holder">
            <h3><a routerLink="service-detail">Energiya tejamkor muhandislik tizimlari</a></h3>
            <div class="inner-text">
              <p>Ventilyatsiya, isitish va elektr tizimlarida energiyani tejash imkonini beruvchi zamonaviy muhandislik yechimlari taqdim etamiz.</p>
            </div>
            <div class="readmore-button">
              <a routerLink="service-detail"><span class="icon-right-arrow"></span>Batafsil</a>
            </div>
          </div>
        </div>
      </div>

      <!-- 3-xizmat -->
      <div class="col-xl-4 col-lg-4">
        <div class="single-service-style1 text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
          <div class="single-service-style1__bg" style="background-image: url(assets/images/shape/single-service-box-bg.png);"></div>
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/services/service-v1-3.jpg" alt="Yashil arxitektura" />
            </div>

          </div>

          <div class="title-holder">
            <h3><a routerLink="service-detail">Yashil arxitektura va dizayn</a></h3>
            <div class="inner-text">
              <p>Biz loyihalarimizda ekologik muvozanatni saqlagan holda, tabiiy yoritish, yashil zonalar va tabiiy materiallardan foydalanamiz.</p>
            </div>
            <div class="readmore-button">
              <a routerLink="service-detail"><span class="icon-right-arrow"></span>Batafsil</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Qo'shimcha tugma -->
    <div class="row">
      <div class="col-xl-12">
        <div class="service-style1_btns-box text-center">
          <a routerLink="/services" class="btn-one">
            <div class="round"></div>
            <span class="txt">Batafsil</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Service Style1 Area-->


<section class="fact-counter-area" #counterSection>
  <div class="fact-container">
    <div class="fact-title-box">
      <h2 class="fact-heading">Kompaniyamiz ko‘rsatkichlari</h2>
      <p class="fact-subtitle">
        Barqaror rivojlanish sari ishonch bilan yurib borayotgan natijalarimiz bilan tanishing.
      </p>
    </div>

    <div class="fact-row justify-center">
      <div class="fact-card">
        <div class="fact-number" id="counter1">0</div>
        <h6 class="fact-label">Barqaror loyiha ishlanmalari</h6>
        <p class="fact-desc">Ekologik va energiya tejamkor yechimlar asosida.</p>
      </div>
      <div class="fact-card">
        <div class="fact-number" id="counter2">0</div>
        <h6 class="fact-label">Yillik tajriba</h6>
        <p class="fact-desc">Samarali va uzoq muddatli tajribalar.</p>
      </div>
      <div class="fact-card">
        <div class="fact-number" id="counter3">0</div>
        <h6 class="fact-label">Mutaxassislar</h6>
        <p class="fact-desc">Tajribali va professionallar jamoasi.</p>
      </div>
    </div>

    <div class="fact-row justify-center">
      <div class="fact-card">
        <div class="fact-number" id="counter4">0</div>
        <h6 class="fact-label">Faol hududlar</h6>
        <p class="fact-desc">O‘zbekiston bo‘ylab faol qurilish zonalari.</p>
      </div>
      <div class="fact-card">
        <div class="fact-number" id="counter5">0</div>
        <h6 class="fact-label">Mamnun mijozlar</h6>
        <p class="fact-desc">Ishonchli hamkorliklar va sifatli xizmatlar.</p>
      </div>
    </div>
  </div>
</section>














<!--Start Choose Style1 Area-->
<section class="choose-style1-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div
          class="choose-style1_image-box wow slideInLeft"
          data-wow-delay="100ms"
          data-wow-duration="2500ms"
        >
          <img
            src="../../../../../assets/images/resources/craneimg.png"
            alt=""
          />

        </div>
      </div>

      <div class="col-xl-8">
        <div class="choose-style1-content">
          <div class="sec-title">
            <div class="sub-title">
              <h5>{{ 'choose.why_title' | translate }}</h5>
            </div>
            <h2 [innerHTML]="'choose.why_subtitle' | translate"></h2>
            <div class="decor">
              <img src="assets/images/shape/decor.png" alt="" />
            </div>
          </div>

          <div class="inner-content">
            <div class="shape">
              <img src="assets/images/shape/choose-style1-shape-1.png" alt="" />
            </div>

            <ul class="clearfix  clearfix_class">
              <li class="wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-water-drop-1"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature1_title' | translate }}</h3>
                  <p>{{ 'choose.feature1_desc' | translate }}</p>
                </div>
              </li>

              <li class="wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-write-message"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature2_title' | translate }}</h3>
                  <p>{{ 'choose.feature2_desc' | translate }}</p>
                </div>
              </li>
            </ul>

            <ul class="clearfix clearfix_class">
              <li class="wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-shield"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature3_title' | translate }}</h3>
                  <p>{{ 'choose.feature3_desc' | translate }}</p>
                </div>
              </li>

              <li class="wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-medal"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature4_title' | translate }}</h3>
                  <p>{{ 'choose.feature4_desc' | translate }}</p>
                </div>
              </li>
            </ul>

            <ul class="clearfix clearfix_class">
              <li class="wow fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-hand"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature5_title' | translate }}</h3>
                  <p>{{ 'choose.feature5_desc' | translate }}</p>
                </div>
              </li>

              <li class="wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-truck"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature6_title' | translate }}</h3>
                  <p>{{ 'choose.feature6_desc' | translate }}</p>
                </div>
              </li>
            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Choose Style1 Area-->





<!--Start Contact Style1 Area-->
<section class="contact-style1-area">
  <div
    class="contact-form-box1_bg "
    style="background-image: url(../../../../../assets/images/resources/contac-bg.jpg);"
  ></div>


  <div class="gray-bg"></div>
  <div class="container">
    <div class="row">
      <!-- Chap tomondagi matn -->
      <div class="col-xl-6">
        <div class="contact-style1-content">
          <div class="shape1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2000">
            <img
              class="paroller-2"
              src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/shape/thm-shape-2.png"
              alt=""
            />
          </div>
          <div class="sec-title">
            <div class="sub-title">
              <h5>{{ 'contact.subtitle' | translate }}</h5>
            </div>
            <h2 [innerHTML]="'contact.title' | translate"></h2>
            <div class="decor">
              <img src="assets/images/shape/decor.png" alt="" />
            </div>
          </div>

          <div class="inner-content">
            <div class="quick-contact-box">
              <div class="icon">
                <span class="icon-calling"></span>
              </div>
              <div class="title">
                <h3>{{ 'contact.call_title' | translate }}</h3>
                <h2><a href="tel:+99871 2558822">{{ 'contact.call_text' | translate }}</a></h2>
              </div>
            </div>
            <div class="text">
              <p [innerHTML]="'contact.description' | translate"></p>
            </div>
            <div class="btn-box">
              <a class="btn-one" href="tel:+99871 2558822">
                <div class="round"></div>
                <span class="txt">{{ 'contact.call_button' | translate }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- O'ng tomondagi forma -->
      <div class="col-xl-6">
        <div class="contact-form-box1">
          <div class="top-title">
            <h2>{{ 'contact.form_title' | translate }}</h2>
          </div>
          <form id="contact-form" name="contact_form" class="default-form1" action="#" method="post">
            <div class="input-box">
              <input
                type="text"
                name="form_name"
                placeholder="{{ 'contact.form_name' | translate }}"
                required
              />
              <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
            </div>
            <div class="input-box">
              <input
                type="email"
                name="form_email"
                placeholder="{{ 'contact.form_email' | translate }}"
                required
              />
              <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            </div>
            <div class="input-box">
              <input
                type="text"
                name="form_address"
                placeholder="{{ 'contact.form_address' | translate }}"
              />
              <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            </div>
            <div class="button-box">
              <div class="left">
                <div class="checked-box1 mb-2">
                  <input type="checkbox" name="skipper1" id="skipper" checked />
                  <label for="skipper"><span></span>I agree to receive updates<br> from Elewen water</label>
                </div>
              </div>
              <div class="right">
                <button
                  class="btn-one"
                  type="submit"
                  [attr.data-loading-text]="'contact.form_loading' | translate"
                >
                  <span class="round"></span>
                  <span class="txt">{{ 'contact.form_submit' | translate }}</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
<!--End Contact Style1 Area-->
