<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
  <div class="breadcrumb-area-bg" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center">
          <div class="title">
            <h2>{{ 'about_company' | translate }}</h2>
          </div>
          <div class="breadcrumb-menu">
            <ul>
              <li><a href="index.html">{{ 'main' | translate }}</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li class="active">{{ 'about_company' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->
<section class="about-style3-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="about-style3-top">
          <img src="assets/images/resources/page-title-bg.jpg" alt="Kompaniya rasmi" />
        </div>
        <div class="about-style3-content">
          <div class="row">
            <div class="col-xl-6">
              <div class="about-style3-text-box1">
                <div class="sec-title">
                  <div class="sub-title">
                    <h5>{{ 'about.section_subtitle' | translate }}</h5>
                  </div>
                  <h2>{{ 'about.title' | translate }}</h2>
                  <div class="decor">
                    <img src="assets/images/shape/decor.png" alt="">
                  </div>
                </div>

                <div class="inner-content">
                  <h5>{{ 'about.short_desc' | translate }}</h5>
                  <div class="text">
                    <p>{{ 'about.description' | translate }}</p>
                  </div>

                  <div class="bottom-box">
                    <div class="signature">
                      <img src="assets/images/resources/signature.png" alt="">
                    </div>
                    <div class="name">
                      <h5>{{ 'about.founder.name' | translate }}</h5>
                      <span>{{ 'about.founder.position' | translate }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="about-style3-text-box2">
                <ul>
                  <li>
                    <div class="inner">
                      <div class="img-box">
                        <div class="img-inner">
                          <img src="assets/images/icon/logo.png" alt="Bizning hikoyamiz">
                        </div>
                      </div>
                      <div class="text-box">
                        <h3>{{ 'about.story_title' | translate }}</h3>
                        <p>{{ 'about.story_text' | translate }}</p>
                        <div class="btns-box">
                          <a class="btn-two" href="#"><span class="icon-right-arrow"></span>{{ 'about.btn_more' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="inner">
                      <div class="img-box">
                        <div class="img-inner">
                          <img src="assets/images/icon/logo.png" alt="Bizning maqsadimiz">
                        </div>
                      </div>
                      <div class="text-box">
                        <h3>{{ 'about.mission_title' | translate }}</h3>
                        <p>{{ 'about.mission_text' | translate }}</p>
                        <div class="btns-box">
                          <a class="btn-two" href="#"><span class="icon-right-arrow"></span>{{ 'about.btn_more' | translate }}</a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="team-style1-area">
  <div class="team-style1-area-bg" style="background-image: url(assets/images/parallax-background/working-process-area-bg.jpg);"></div>
  <div class="container">
    <div class="team-style2_top">
      <div class="sec-title">
        <div class="sub-title">
          <h5>{{ 'about.team.section_subtitle' | translate }}</h5>
        </div>
        <h2 class="clr_white">{{ 'about_company' | translate }}</h2>
        <div class="decor">
          <img src="assets/images/shape/decor.png" alt="">
        </div>
      </div>
      <div class="btn-box">
        <a class="btn-one" href="shop.html">
          <div class="round"></div>
          <span class="txt">{{ 'about.team.see_all' | translate }}</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-6" *ngFor="let member of ['0','1','2','3']">
        <div class="single-team-style1">
          <div class="img-holder">
            <div class="inner">
              <img [src]="'assets/images/team/team-v1-' + (member + 1) + '.jpg'" alt="Team Member"/>
              <div class="overlay-box"></div>
            </div>
            <div class="title-holder">
              <div class="share-icon-border two"></div>
              <div class="share-icon">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                <div class="social-link-box">
                  <ul class="team-social-link">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="title-inner">
                <div class="share-icon-border"></div>
                <h5><a href="#">{{ 'about.team.members.' + member + '.name' | translate }}</a></h5>
                <p>{{ 'about.team.members.' + member + '.position' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>