
<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center">
                    <div class="title">
                       <h2>{{"services.breadcrumb_title"|translate}}</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">{{"services.breadcrumb_home"|translate}}</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">{{"services.section_title"|translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Service Style1 Area-->
<section class="service-style1-area service-page-sec1">
    <div class="service-page-sec1-bg" style="background-image: url(assets/images/pattern/service-page-sec1-bg.png);"></div>
    <div class="container">
        <div class="sec-title">
            <div class="sub-title">
                <h5>{{"services.section_title"|translate}}</h5>
            </div>
            <h2 [innerHTML]="'services.services_subtitle'|translate"></h2>
            <div class="decor">
                <img src="assets/images/shape/decor.png" alt="">
            </div>
        </div>
        <div class="row">
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4">
              <div
                class="single-service-style1 text-center wow fadeInUp"
                data-wow-delay="00ms"
                data-wow-duration="1500ms"
              >
                <div
                  class="single-service-style1__bg"
                  style="
                    background-image: url(assets/images/shape/single-service-box-bg.png);
                  "
                ></div>
                <div class="img-holder">
                  <div class="inner">
                    <img
                      src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/services/service-v1-1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="overlay-icon">
                    <a href="#"><span class="icon-water-bottle"></span></a>
                  </div>
                </div>
                <div class="title-holder">
                  <h3>
                    <a href="services-details.html"
                      >{{"services.water_18l_title"|translate}}</a
                    >
                  </h3>
                  <div class="inner-text">
                    <p>
                     {{"services.water_18l_desc"|translate}}
                    </p>
                  </div>
                  <div class="readmore-button">
                    <a href="services-details.html"
                      ><span class="icon-right-arrow"></span>{{"services.read_more"|translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Service Style1-->
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4">
              <div
                class="single-service-style1 text-center wow fadeInUp"
                data-wow-delay="200ms"
                data-wow-duration="1500ms"
              >
                <div
                  class="single-service-style1__bg"
                  style="
                    background-image: url(assets/images/shape/single-service-box-bg.png);
                  "
                ></div>
                <div class="img-holder">
                  <div class="inner">
                    <img
                      src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/services/service-v1-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="overlay-icon">
                    <a href="#"><span class="icon-water-dispenser"></span></a>
                  </div>
                </div>
                <div class="title-holder">
                  <h3><a href="services-details.html">{{"services.dispenser_title"|translate}}</a></h3>
                  <div class="inner-text">
                    <p>
                    {{"services.dispenser_desc"|translate}}
                    </p>
                  </div>
                  <div class="readmore-button">
                    <a href="services-details.html"
                      ><span class="icon-right-arrow"></span>{{"services.read_more"|translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Service Style1-->
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4">
              <div
                class="single-service-style1 text-center wow fadeInUp"
                data-wow-delay="400ms"
                data-wow-duration="1500ms"
              >
                <div
                  class="single-service-style1__bg"
                  style="
                    background-image: url(assets/images/shape/single-service-box-bg.png);
                  "
                ></div>
                <div class="img-holder">
                  <div class="inner">
                    <img src="../../../../../assets/images/about/icetea.jpg" alt="" />
                  </div>
                  <div class="overlay-icon">
                    <a href="#"><span class="icon-water-bottle"></span></a>
                  </div>
                </div>
                <div class="title-holder">
                  <h3><a href="services-details.html">{{"services.icetea_title"|translate}}</a></h3>
                  <div class="inner-text">
                    <p>
                    {{"services.icetea_desc"|translate}}
                    </p>
                  </div>
                  <div class="readmore-button">
                    <a href="services-details.html"
                      ><span class="icon-right-arrow"></span>{{"services.read_more"|translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Service Style1-->
          </div>

    </div>
</section>
<!--End Service Style1 Area-->


<!--Start Features Style2 Area-->
<section class="features-style2-area">
    <div class="features-style2-area--bg-2" style="background-image: url(assets/images/parallax-background/working-process-area-bg.jpg);"></div>
    <div class="container">
      <div class="row">

        <div class="col-xl-4">
          <div class="features-style1_one-content features-style1_content-box-style3">
            <div class="inner-content">
              <div class="sec-title">
                <div class="sub-title">
                  <h5>{{ 'services.features_subtitle' | translate }}</h5>
                </div>
                <h2 class="clr_white" [innerHTML]="'services.features_title' | translate"></h2>
                <div class="decor">
                  <img src="assets/images/shape/decor.png" alt="">
                </div>
              </div>
              <div class="text">
                <p>{{ 'services.features_desc' | translate }}</p>
                <ul>
                  <li><span class="icon-water-drop"></span>{{ 'services.features_point1' | translate }}</li>
                  <li><span class="icon-water-drop"></span>{{ 'services.features_point2' | translate }}</li>
                  <li><span class="icon-water-drop"></span>{{ 'services.features_point3' | translate }}</li>
                  <li><span class="icon-water-drop"></span>{{ 'services.features_point4' | translate }}</li>
                </ul>
                <div class="btns-box">
                  <a class="btn-one" href="#">
                    <div class="round"></div>
                    <span class="txt">{{ 'services.features_btn' | translate }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8">
          <div class="video-holder-box1">
            <div class="video-holder-box1-bg" style="background-image: url(assets/images/resources/video-gallery-bg2.jpg);"></div>
            <div class="icon">
              <a class="video-popup paroller" title="Video Gallery" href="assets/video/video_1.mp4">
                <span class="icon-play playicon"></span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--End Features Style2 Area-->

  <!--Start pricing plan area-->
  <section class="pricing-plan-area">
    <div class="pricing-plan-bg" style="background-image: url(assets/images/about/about-style1.jpg);"></div>
    <div class="container">
      <div class="sec-title text-center">
        <div class="sub-title">
          <h5>{{ 'services.pricing_subtitle' | translate }}</h5>
        </div>
        <h2 class="clr_white">{{ 'services.pricing_title' | translate }}</h2>
        <div class="decor">
          <img src="assets/images/shape/decor.png" alt="">
        </div>
      </div>
      <div class="row">

        <!--Start single price box-->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center">
          <div class="single-price-box">
            <div class="table-header">
              <div class="top">
                <h3>{{ 'services.plan_basic' | translate }}</h3>
                <span>{{ 'services.plan_note' | translate }}</span>
              </div>
              <div class="package">
                <h1><span>$</span>49</h1>
                <div class="date">
                  <h3>{{ 'services.plan_monthly' | translate }}</h3>
                </div>
              </div>
            </div>
            <div class="price-list">
              <ul>
                <li>{{ 'services.plan_feature1' | translate }}</li>
                <li>{{ 'services.plan_feature2' | translate }}</li>
                <li>{{ 'services.plan_feature3' | translate }}</li>
                <li>{{ 'services.plan_feature4' | translate }}</li>
                <li>{{ 'services.plan_feature5' | translate }}</li>
              </ul>
            </div>
            <div class="table-footer">
              <a class="btn-one" href="#">{{ 'services.order_btn' | translate }}</a>
            </div>
          </div>
        </div>
        <!--End single price box-->

        <!--Start single price box-->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center">
          <div class="single-price-box">
            <div class="table-header">
              <div class="top">
                <h3>{{ 'services.plan_premium' | translate }}</h3>
                <span>{{ 'services.plan_note' | translate }}</span>
              </div>
              <div class="package">
                <h1><span>$</span>99</h1>
                <div class="date">
                  <h3>{{ 'services.plan_yearly' | translate }}</h3>
                </div>
              </div>
            </div>
            <div class="price-list">
              <ul>
                <li>{{ 'services.plan_feature1' | translate }}</li>
                <li>{{ 'services.plan_feature2' | translate }}</li>
                <li>{{ 'services.plan_feature3' | translate }}</li>
                <li>{{ 'services.plan_feature4' | translate }}</li>
                <li>{{ 'services.plan_feature5' | translate }}</li>
              </ul>
            </div>
            <div class="table-footer">
              <a class="btn-one" href="#">{{ 'services.order_btn' | translate }}</a>
            </div>
          </div>
        </div>
        <!--End single price box-->

        <!--Start single price box-->
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center">
          <div class="single-price-box">
            <div class="table-header">
              <div class="top">
                <h3>{{ 'services.plan_advanced' | translate }}</h3>
                <span>{{ 'services.plan_note' | translate }}</span>
              </div>
              <div class="package">
                <h1><span>$</span>79</h1>
                <div class="date">
                  <h3>{{ 'services.plan_monthly' | translate }}</h3>
                </div>
              </div>
            </div>
            <div class="price-list">
              <ul>
                <li>{{ 'services.plan_feature1' | translate }}</li>
                <li>{{ 'services.plan_feature2' | translate }}</li>
                <li>{{ 'services.plan_feature3' | translate }}</li>
                <li>{{ 'services.plan_feature4' | translate }}</li>
                <li>{{ 'services.plan_feature5' | translate }}</li>
              </ul>
            </div>
            <div class="table-footer">
              <a class="btn-one" href="#">{{ 'services.order_btn' | translate }}</a>
            </div>
          </div>
        </div>
        <!--End single price box-->

      </div>
    </div>
  </section>
  <!--End pricing plan area-->
