<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
  <div
    class="breadcrumb-area-bg"
    style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg)"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center">
          <div class="title">
            <h2>{{ "shop.breadcrumb_title" | translate }}</h2>
          </div>
          <div class="breadcrumb-menu">
            <ul>
              <li>
                <a href="index.html">{{ "main" | translate }}</a>
              </li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li class="active">{{ "shop.breadcrumb_title" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->
