<!--Start footer area -->
<footer class="footer-area">
  <!--Start Footer-->
  <div class="footer">
    <div class="container">
      <div class="row text-right-rtl">

        <!--Start single footer widget-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.1s">
          <div class="single-footer-widget marbtm50">
            <div class="our-company-info">
              <div class="logo-footer" >
                <a href="index.html">
                  <img src="../../../assets/images/icon/logo.svg"  alt="" />
                </a>
              </div>
              <!-- <div class="text-box">
                <p>{{ 'footer.about.description' | translate }}</p>
              </div> -->
              <!-- <div class="our-company-info-list">
                <ul>
                  <li><span class="icon-check-mark"></span>{{ 'footer.about.features.0' | translate }}</li>
                  <li><span class="icon-check-mark"></span>{{ 'footer.about.features.1' | translate }}</li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
        <!--End single footer widget-->

        <!--Start single footer widget-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.3s">
          <div class="single-footer-widget martop marbtm50">
            <div class="title">
              <h3>{{ 'footer.links.title' | translate }}</h3>

            </div>
            <div class="footer-widget-links">
              <ul class="pull-left">
                <li><a routerLink="dashboard">{{ 'footer.links.items.0.label' | translate }}</a></li>
                <li><a routerLink="about">{{ 'footer.links.items.1.label' | translate }}</a></li>
                <!-- <li><a routerLink="services">{{ 'footer.links.items.2.label' | translate }}</a></li> -->
                <li><a routerLink="products">{{ 'footer.links.items.3.label' | translate }}</a></li>
                <!-- <li><a routerLink="product-details">{{ 'footer.links.items.4.label' | translate }}</a></li> -->
                <!-- <li><a routerLink="product-basket">{{ 'footer.links.items.5.label' | translate }}</a></li>
                <li><a routerLink="checkout-page">{{ 'footer.links.items.6.label' | translate }}</a></li> -->
                <li><a routerLink="contact">{{ 'footer.links.items.7.label' | translate }}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--End single footer widget-->

        <!--Start single footer widget-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.5s">
          <div class="single-footer-widget martop">
            <div class="title">
              <h3>{{ 'footer.address.title' | translate }}</h3>

            </div>
            <div class="single-footer-widget-Location">
              <div class="single-Location-box">
                <h4>Toshkent shahar</h4>
                <p> Mirobod tumani, Mironshoh 6-boshiberk ko’cha, 18/141-uy</p>
                <div class="phone">
                  <a href="tel:+99871 255 88 22 ">+998 (71) 255-88-22 </a>
                </div>
                <div class="email">
                  <a href="mailto:trest7@internet.ru "> trest7&#64;internet.ru  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End single footer widget-->

        <!--Start single footer widget-->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 wow animated fadeInUp" data-wow-delay="0.7s">
          <div class="single-footer-widget martop pdtop50">
            <div class="title">
              <h3>{{ 'footer.working_hours.title' | translate }}</h3>

            </div>
            <div class="single-footer-widget-business-hours">
              <ul>
                <li>{{ 'footer.working_hours.days.0.day' | translate }}:<br />{{ 'footer.working_hours.days.0.hours' | translate }}</li>
                <li>{{ 'footer.working_hours.days.1.day' | translate }}:<br />{{ 'footer.working_hours.days.1.hours' | translate }}</li>
              </ul>
              <!-- <div class="btn-box">
                <a class="btn-one" href="#">
                  <div class="round"></div>
                  <span class="txt">{{ 'footer.working_hours.button' | translate }}</span>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <!--End single footer widget-->

      </div>
    </div>
  </div>
  <!--End Footer-->

  <div class="footer-bottom">
    <div class="container">
      <div class="bottom-inner clearfix">
        <div class="copyright text-center">
          <p>{{ 'footer.bottom.copyright' | translate: { year: currentYear } }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--End footer area-->

<button class="scroll-top scroll-to-target" data-target="html">
  <span class="icon-right-arrow-1"></span>
</button>
