<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area breadcrumb-area--style2">
  <div
    class="breadcrumb-area-bg"
    style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg)"
  ></div>
  <div class="man-outer wow slideInRight" data-wow-duration="2000ms">
    <img
      src="../../../../../assets/images/resources/craneimg.png"
      alt=""
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center">
          <div class="title">
            <h2>{{ "contact.breadcrumb_title" | translate }}</h2>
          </div>
          <div class="breadcrumb-menu">
            <ul>
              <li>
                <a href="index.html">{{
                  "contact.breadcrumb_home" | translate
                }}</a>
              </li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li class="active">
                {{ "contact.breadcrumb_title" | translate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Info Boxes -->
    <div class="row">
      <!-- Address -->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="single-contact-info-box">
          <div class="icon">
            <a href="">
              <img
                src="assets/images/icons8-instagram.svg "
                class="cursor-pointer"
                alt=""
            /></a>
          </div>
          <div class="text">
            <h3>{{ "contact.contact_boxes.address.title" | translate }}</h3>
            <p>{{ "contact.contact_boxes.address.text" | translate }}</p>
          </div>
        </div>
      </div>

      <!-- Phone -->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="single-contact-info-box">
          <div class="icon cursor-pointer">
            <span class="icon-calling cursor-pointer"></span>
          </div>
          <div class="text">
            <h3>{{ "contact.contact_boxes.phone.title" | translate }}</h3>
            <p>
              {{
                ("contact.contact_boxes.phone.text" | translate).replace(
                  "Tel: ",
                  ""
                )
              }}
            </p>
          </div>
        </div>
      </div>

      <!-- Email -->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="single-contact-info-box">
          <div class="icon">
            <a href="">
              <img
                src="assets/images/icons8-telegram.svg "
                class="style"
                alt=""
            /></a>
          </div>
          <div class="text">
            <h3>{{ "contact.contact_boxes.email.title" | translate }}</h3>
            <p>{{ "contact.contact_boxes.email.text" | translate }}</p>
          </div>
        </div>
      </div>

      <!-- Hours -->
      <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="single-contact-info-box">
          <div class="icon">
            <a href="" target="_blank">
              <img
                src="assets/images/icons8-telegram.svg "
                class="style"
                alt=""
            /></a>
          </div>
          <div class="text">
            <h3>{{ "contact.contact_boxes.hours.title" | translate }}</h3>
            <p>{{ "contact.contact_boxes.hours.text" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start Main Contact Form Area-->
<section class="main-contact-form-area">
  <div class="container">
    <div class="sec-title text-center">
      <div class="sub-title">
        <h5>{{ "contact.contact_form.subtitle" | translate }}</h5>
      </div>
      <h2>{{ "contact.contact_form.title" | translate }}</h2>
      <div class="decor">
        <img src="assets/images/shape/decor.png" alt="" />
      </div>
    </div>
    <div class="row">
      <!-- Services -->
      <div class="col-xl-6">
        <div class="our-service-box">
          <div class="row">
            <div
              class="col-xl-6 col-lg-6 col-md-6"
              *ngFor="let service of ['family', 'office']"
            >
              <div class="single-service">
                <div class="img-holder  overflow-hidden">
                  <img
                    class="w-full object-cover"
                    [src]="
                      service === 'family'
                        ? 'assets/images/resources/family-service.jpg'
                        : 'assets/images/resources/office-service.jpg'
                    "
                    alt=""
                  />
                </div>

                <div class="text-holder">
                  <div class="title">
                    <h3>
                      {{ "contact.services." + service + ".title" | translate }}
                    </h3>
                    <div class="decor">
                      <img src="assets/images/shape/decor.png" alt="" />
                    </div>
                  </div>
                  <p>
                    {{ "contact.services." + service + ".desc" | translate }}
                  </p>
                  <div class="btns-box">
                    <a class="btn-two" href="#"
                      ><span class="icon-right-arrow"></span
                      >{{
                        "contact.services." + service + ".button" | translate
                      }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>












      <!-- Contact Form -->
      <div class="col-xl-6">
        <div class="contact-style1_form">
          <div class="top-title">
            <h3>{{ "contact.contact_form.form_title" | translate }}</h3>
          </div>
          <div class="contact-form">
            <form
              id="contact-form"
              name="contact_form"
              class="default-form2"
              action="https://formsubmit.co/6851e4e3106bd0967cb61ae7f4516217" method="POST">
              <input type="hidden" name="_feedback" value="true" />
              <input type="hidden" name="_captcha" value="false" />
              <input type="hidden" name="_template" value="box" />

              <div class="row">
                <div class="col-xl-12">
                  <div class="input-box">
                    <input
                      type="text"
                      name="name"
                      placeholder="Ismingiz"
                      required
                    />
                    <div class="icon">
                      <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="input-box">
                    <input
                      type="email"
                      name="email"
                      placeholder="Emailingiz"
                      required
                    />
                    <div class="icon">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="input-box">
                    <input
                      type="text"
                      name="phone"
                      placeholder="Telefon raqam"
                    />
                    <div class="icon">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="input-box">
                    <input type="text" name="subject" placeholder="Mavzu" />
                    <div class="icon">
                      <i class="fa fa-file" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="input-box two">
                    <textarea
                      name="message"
                      placeholder="Xabaringiz"
                      required
                    ></textarea>
                    <div class="icon">
                      <i class="fa fa-text-width" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="button-box">
                    <button class="btn-one" type="submit">
                      <span class="round"></span>
                      <span class="txt">Yuborish</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
