
<div class="boxed_wrapper ltr">

  <!-- Preloader -->
  <!-- <div class="loader-wrap">
      <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
      <div class="layer layer-one"><span class="overlay"></span></div>
      <div class="layer layer-two"><span class="overlay"></span></div>
      <div class="layer layer-three"><span class="overlay"></span></div>
  </div> -->

  <!-- page-direction -->
  <!-- <div class="page_direction">
      <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
      <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
  </div> -->
  <!-- page-direction end -->

  <!--Start Error Page Area-->
  <section class="error-page-area full-height">
      <div class="error-page-area-bg" style="background-image: url(assets/images/parallax-background/error-page-area-bg.jpg.jpg);"></div>
      <div class="container py-3">
          <div class="row">
              <div class="col-xl-12">
                  <div class="error-content text-center wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                      <div class="error-content-bg" style="background-image: url(assets/images/shape/error-content-bg.png);"></div>
                      <div class="title clr1">Page not found</div>
                      <p>Sorry we’re unable to find the page you are looking for, please<br> check the url and try again.</p>
                      <div class="404-image">
                          <img src="assets/images/shape/404.png" alt="">
                      </div>
                      <div class="btns-box">
                          <a class="btn-one" (click)="goBack()">
                              <div class="round"></div>
                              <span class="txt text-white">Back to Home</span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End Error Page Area-->


  <button class="scroll-top scroll-to-target" data-target="html">
      <span class="icon-right-arrow-1"></span>
  </button>



  <!-- search-popup -->
  <div id="search-popup" class="search-popup">
      <div class="close-search"><i class="icon-close"></i></div>
      <div class="popup-inner">
          <div class="overlay-layer"></div>
          <div class="search-form">
              <form method="post" action="index.html">
                  <div class="form-group">
                      <fieldset>
                          <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                          <input type="submit" value="Search Now!" class="theme-btn style-four">
                      </fieldset>
                  </div>
              </form>
              <h3>Recent Search Keywords</h3>
              <ul class="recent-searches">
                  <li><a href="index.html">Water Quality</a></li>
                  <li><a href="index.html">Mineral</a></li>
                  <li><a href="index.html">Bottle</a></li>
                  <li><a href="index.html">Safety</a></li>
                  <li><a href="index.html">Plan</a></li>
              </ul>
          </div>
      </div>
  </div>
  <!-- search-popup end -->


  </div>
